@model SIMS_ASM.Models.Course

@{
    ViewData["Title"] = "Edit Course";
}

<h1>Edit Course</h1>

<form method="post" action="@Url.Action("EditCourse", "Admin", new { id = Model.Id })">
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required>
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="StartDate">Start Date:</label>
        <input type="date" class="form-control" id="StartDate" name="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" required>
        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="EndDate">End Date:</label>
        <input type="date" class="form-control" id="EndDate" name="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" required>
        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
    </div>
    
    <div class="form-group">
        <label for="AttendanceSessions">Number Of Sessions:</label>
        <input type="text" class="form-control" id="AttendanceSessions" name="AttendanceSessions" value="@Model.AttendanceSessions" required>
        @Html.ValidationMessageFor(model => model.AttendanceSessions, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
